<form>
    <div class="row">
        <div class="col-12">
            <div id="page-header">
            </div>
            <div class="spinner-wrapper" *ngIf="!index_complete">
                <div class="box-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="error" *ngIf="index_error">
                <span>Error: {{ index_error }}</span>
            </div>
            <div class="table-responsive">

                <button class="mat-focus-indicator export-btn add-patient mat-button mat-button-base"
                    (click)="open(content)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                    Add Patient
                </button>
                <div class="export-wrap">
                    <section class="example-section" *ngIf="visibility">
                        <mat-checkbox class="example-margin" (change)="toggleDisplay($event)">{{section}}</mat-checkbox>
                    </section>
                    <button class="export-btn" mat-button [matMenuTriggerFor]="menu">Exports</button>
                    <mat-menu class="export-btn-list custom-export-btn" #menu="matMenu">
                        <button mat-menu-item>
                            <a href="{{ api_url }}/reports?as=summarycsv&type=JSON&sort=-creation_datetime&count=1000"
                                target="_top" class="custom-button">
                                <span>Area </span>
                            </a>
                        </button>
                        <button mat-menu-item>
                            <a href="{{ api_url }}/reports?as=summarycsv&type=JSON&sort=-creation_datetime&csvcol=canal_heights&count=1000"
                                target="_top" class="custom-button">
                                <span>Vertical Diameter </span>
                            </a>
                        </button>
                        <button mat-menu-item>
                            <a href="{{ api_url }}/reports?as=summarycsv&type=JSON&sort=-creation_datetime&csvcol=canal_widths&count=1000"
                                target="_top" class="custom-button">
                                <span>Horizontal Diameter </span>
                            </a>
                        </button>
                    </mat-menu>

                </div>

                <table id="reports_table" class="table table-striped table-bordered"
                    *ngIf="index_complete && !index_error">
                    <thead>
                        <tr *ngIf="isShown == true">
                            <th>Created</th>
                            <th>Patient Name</th>
                            <th>Import Id</th>
                            <th>Report</th>
                            <th>Recommendation</th>
                            <th class="action-report">Action</th>
                        </tr>
                        <tr *ngIf="isShown == false">
                            <th>Created</th>
                            <th>Import Id</th>
                            <th>Report</th>
                            <th>Recommendation</th>
                            <th class="action-report">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr #report_rows *ngFor="let metadata of index; let i = index" [attr.data-index]="i">
                            <td>{{ metadata.creation_datetime }}</td>
                            <td *ngIf="isShown == true">{{ metadata.patient_name }}</td>
                            <td>{{ metadata.name }}</td>
                            <td>
                                <ng-template [ngIf]="metadata.Reports.length" [ngIfElse]="noReport">
                                    <ng-template [ngIf]="metadata.Reports[0].state == 'PROCESSED'"
                                        [ngIfElse]="reportNotProcessed">
                                        <a href="/study/{{ metadata.uuid }}">Report</a>&nbsp;&nbsp;&#124;&nbsp;
                                        <a
                                            href="{{ api_url }}/reports?as=HTML&type=HTML_VIEWER&sort=-creation_datetime&Studies.uuid={{ metadata.uuid }}">Viewer</a>
                                    </ng-template>
                                    <ng-template #reportNotProcessed>
                                        <span *ngIf="metadata.Reports[0].state; let state">
                                            <ng-template [ngIf]="state == 'NEW'" [ngIfElse]="reportStateElse">
                                                UNPROCESSED
                                            </ng-template>
                                            <ng-template #reportStateElse>
                                                {{ state }}
                                            </ng-template>
                                        </span>
                                    </ng-template>
                                </ng-template>
                                <ng-template #noReport>
                                    <a class="search-pacs" (click)="searchPacsNavigate(metadata.uuid)"> <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                        </svg> Add MRI
                                    </a>
                                </ng-template>
                            </td>
                            <td>
                                <div class="recommendation_cell" [attr.data-study-id]="metadata.id"></div>
                            </td>
                            <td>
                                <select [(ngModel)]="action[i]" name="action" (change)="actionValues(action[i],i)">
                                    <option *ngFor="let item of actionList" value={{item}}>
                                        {{item}}
                                    </option>
                                </select>
                                <span *ngIf="action[i]" class="save-icon" (click)="saveAction(metadata.id,i)">
                                    <img *ngIf="metadata.show_icon == false" width="15px" src="assets/img/save_icon.png"
                                        alt="" />

                                    <img *ngIf="metadata.show_icon == true" width="20px" src="assets/img/clipboard.png"
                                        alt="" />
                                </span>

                                <ul *ngIf="action[i] || metadata.report_action">
                                    <li *ngFor="let report of metadata.report_action">
                                        {{report.time}} {{report.name}}
                                    </li>
                                    <li *ngFor="let report of report_action[i]">
                                        {{report.time}} {{report.name}}
                                    </li>

                                </ul>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- /table-responsive -->
        </div>
    </div> <!-- /row -->
</form>

<ng-template #content let-modal>
    <div class="modal-header add-patient-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body add-patient-form">
        <form>
            <div class="form-group">
                <div class="add-patient-con">
                    <div class="form-group-sec">
                        <input id="name" class="form-control" placeholder="Name"
                            (change)="alphabetValidate(name,'name')" name="name" [(ngModel)]="name">
                    </div>
                    <div class="form-group-sec"> <input id="mrn" class="form-control" placeholder="MRN" name="mrn"
                            (change)="alphabetValidate(mrn,'mrn')" [(ngModel)]="mrn"></div>
                    <div class="form-group-sec">
                        <input id="email" type="email" (change)="emailValidate(email)" class="form-control"
                            placeholder="Email" name="email" [(ngModel)]="email">
                        <span class="error_class" *ngIf="email_error == true">Please enter a valid email address</span>
                    </div>
                    <div>
                        <mat-form-field class="mr-sm-24" fxFlex>
                            <input matInput [matDatepicker]="picker" placeholder="DOB" autocomplete="off" name="date"
                                [(ngModel)]="date_picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker [startAt]="date_picker" #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="form-group-sec">
                        <input id="telephone" class="form-control" placeholder="Telephone" name="telephone"
                            (change)="numberValidate(telephone)" [(ngModel)]="telephone">
                        <span class="error_class" *ngIf="number_error == true">Please enter a valid Telephone
                            Number</span>
                    </div>
                    <div class="form-group-sec">
                        <input id="diagnosis" class="form-control" placeholder="Diagnosis" name="diagnosis"
                            (change)="alphabetValidate(diagnosis,'diagnosis')" [(ngModel)]="diagnosis">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer add-patient-footer">
        <button type="button" class="btn btn-outline-dark" (click)="createPatient()">Create Patient</button>
    </div>
</ng-template>