@import 'src/assets/sass/variables';

@import 'src/assets/uplor/plugins/datatable/jquery.dataTables.min';
@import '/src/assets/uplor/plugins/datatable/dataTables.bootstrap4.min';

#page-header {
  margin-bottom: 1em;

  .custom-button {
    padding: 0.2em 0.8em;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }
  .custom-button:hover {
    text-decoration: none;
  }

}

.spinner-wrapper {
  min-height: 80px;
}
.box-spinner {
  display: inline-block;
  position: fixed;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  margin: auto;
}
.box-spinner div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: $blue;
  animation: box-spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.box-spinner div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.box-spinner div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.box-spinner div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes box-spinner {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


// 4-1-2022
.table-responsive {
  position: relative;
  .export-wrap {
    position: absolute;
    right: 0;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    .toggle_button{
     margin-right:200px;
    }
  }
 
}
.export-wrap mat-checkbox#mat-checkbox-1 {
  color: #333;
}

div#reports_table_wrapper>.row:first-child {
  display: flex;
}

div#reports_table_wrapper>.row:first-child div {
  width: auto;
  max-width: initial;
  flex: initial;
}