.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  max-width: 1170px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
  position: relative;
  background-color: #f3f4f9;
  margin: 0px auto;
}
body{
background-color: #d5d8e2;
}
.background{
max-width: 1170px !important;
min-width:0 !important
}
.mastheadheight {
  height: 100vh !important;
}
@media (min-width: 992px){
.masthead {
  width: 50% !important;
}
}
.fixed-header {
  position: fixed !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
max-width: 1170px;
}
.fixed-header.visible-title {
  top: 0;
}
@media (max-width: 992px) {
.fixed-header {
  position: relative !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}
}