@import 'src/assets/sass/variables';

@import 'src/assets/uplor/plugins/datatable/jquery.dataTables.min';
@import '/src/assets/uplor/plugins/datatable/dataTables.bootstrap4.min';


.add-user {
    bottom: 0 !important;
    border-width: 0 !important;
    padding: 7px 12px 7px 5px !important;
    border-radius: 5px;
    z-index: unset !important;
}

.users-table {
    min-width: 100% !important;
    margin-top: 20px;
}

.user-btns-wrapper {
    list-style-type: none;
    overflow: hidden;
}

.user-btns-wrapper > li {
    display: inline-block;
}

.user-btns-wrapper > li > button{
    padding: 0 !important;
    margin: 0 5px 0 5px;
}

.delete-user-btn {
    color: red;
}

.add-user-header {
    border-bottom: unset !important;
    padding-bottom: 10px;
}

.form-group-sec {
    margin-top: 15px;
    width: 48% !important;
}

.add-user-form {
    padding-bottom: 0;
    padding-top: 0;
}

@media screen and (max-width:770px) {

    .form-group-sec {
      margin-top: 10px;
      width: 100% !important;
    }

}
