@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=latin-ext,vietnamese');

@import 'assets/sass/variables';

:root {
  --background: #f1f3f7;
  --primary-color: #376fb6;
  --secondary-color: #ef5127;
  --yellow-color: #f7ae2b;
  --dark-color: #10212b;
  --medium-color: #cbcdd1;
  --light-color: #ffffff;
  --border-color: #e9ecf3;
  --box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.18);
  --indent: 2vmax;
}

body {
  font-family: $fontFamily;
  line-height: $lineHeight;
  color: $mainTextColor;
}

strong {
  font-size: 16px;
  margin-right: 5px;
}

.custom-button {
  padding: 7px 20px;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $blue;
  color: $white;

  i {
    margin-right: 5px;
  }

  &.disabled {
    background-color: $white;
    color: $textColor;
  }

  &.outlined {
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// 4-1-2022
.dataTables_length {
  label {
    display: flex;
    display: -ms-flexbox;
    align-items: center;

    select.custom-select {
      max-width: 100px;
      margin: 0 10px;
    }
  }
}

div#reports_table_wrapper .col-sm-12.col-md-4:first-child {
  order: 1;
  padding: 0;
}

.export-btn.mat-button {
  background-color: #376fb6;
  color: #fff;
}

.export-btn-list {
  a.custom-button {
    color: #505050;
    background: #fff;
    padding: 0;

    &:hover {
      background: transparent;
      opacity: 0.6;
      text-decoration: none;
    }
  }

  button:hover {
    background: transparent !important;
  }

}


div#reports_table_wrapper>.row:nth-child(1) {
  display: flex;
}

div#reports_table_wrapper>.row:nth-child(1) div {
  width: auto;
  max-width: initial;
  flex: initial;
}

.export-btn.mat-button {
  margin-left: 15px;
  position: relative;
  min-width: 104px;
  text-align: left;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #376fb6;
}

.table-responsive .export-wrap {
  justify-content: space-between;
  width: 400px;
}

.export-btn.mat-button:before {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.custom-export-btn a.custom-button {
  font-weight: 500;
}

.custom-export-btn button {
  height: 30px;
  line-height: 30px;
}


//6-1-2022
table#reports_table {
  select {
    padding: 5px;
    border: 1px solid #ced4da;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url(assets/img/select-arrow.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 5px);
    background-size: 10px;
    width: calc(100% - 20px);

    &::-ms-expand {
      display: none;
    }
  }

  li {
    font-size: 12px;
    margin: 5px 0;
  }

}
.error_class{
    margin-top: -15px;
    color: red;
    font-size: 10px;
}
button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }
table#reports_table th:last-child,
table#reports_table td:last-child {
  max-width: 120px;
}

table#reports_table select {
  width: 75%;
  margin-right: 10px;
}

.action-report {
  min-width: 200px;
}

.save-icon {
  margin-left: 5px;
  cursor: pointer;
}

div#reports_table_length select {
  width: 80px;
}

div#reports_table_info {
  margin-top: 25px;
}

div#reports_table_paginate {
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  div#reports_table_wrapper {
    width: 100%;
    display: block;
  }

  .table-responsive {
    position: unset !important;
  }

  .table-responsive .export-wrap {
    width: 923px;
    position: relative !important;
    justify-content: end;
  }

  .table-responsive .export-wrap>section {
    position: absolute;
    top: 5px;
  }

  .table-responsive .export-wrap>section {
    width: 300px;
    z-index: 9;
  }

  .table-responsive .export-wrap button {
    position: absolute;
    top: 0;
  }

  div#reports_table_wrapper>.row>div {
    width: 50% !important;
    max-width: 50% !important;
    flex: 50% !important;
  }

  div#reports_table_wrapper {
    width: 700px;
  }

  div#reports_table_wrapper>.row:first-child {
    align-items: flex-end;
  }

  .top-tabs-wrap {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .top-tabs-wrap button span {
    font-size: 12px;
  }

  div#reports_table_filter input {
    width: 140px;
  }
}


.add-patient-form input, .add-patient-form .input-group {
    width: 46%;
}
.add-patient-con {
   display: flex;
   flex-wrap: wrap;
   grid-gap: 8px;
}
.modal-footer.add-patient-footer {
    justify-content: flex-start;
}
.modal-footer.add-patient-footer button.btn.btn-outline-dark {
    color: #376fb6;
    border: 1px solid #376fb6;
}
.modal-footer.add-patient-footer button.btn.btn-outline-dark:hover {
    background: #376fb6;
    color: #fff;
    border: 1px solid #376fb6;
}
.modal-header.add-patient-header {
    border: none;
}
.modal-footer.add-patient-footer {
    justify-content: flex-start;
    border: none;
}
.modal-body.add-patient-form {
    padding-bottom: 0;
}
.modal-footer.add-patient-footer {
    padding-top: 0;
    margin-bottom: 16px;
}
.error_class {
    margin-top: -10px !important;
}
.form-group-sec input {
    width: 100%;
}
.add-patient-form .input-group.form-group-sec {
    width: 48.9%;
}
.add-patient-form .input-group-append {
    height: 40px;
}
div#reports_table_wrapper div#reports_table_filter {
    padding-left: 120px;
}
.export-btn.add-patient {
    position: relative;
    margin: 0;
    bottom: -34px;
    padding: 0 12px 0 5px;
    z-index: 999;
}
.export-btn.mat-button.add-patient:before {
    display: none;
}

div#reports_table_wrapper .search-pacs {
    cursor: pointer;
    color: #376fb6;
    padding: 0;
    font-size: 14px;
}

div#reports_table_wrapper .search-pacs:hover {
    color: #0e4285;
}

//Login form css start

.login-form {
    border: none;
    max-width: 450px;
    margin: 40px auto;
    border-radius: 10px;
    width: 100%;
}
 .login-form h2 {
    font-size: 24px;
    text-align: center;
    color: #000;
}
 .login-form label {
    font-size: 14px;
    color: #000;
}
 .login-form input {
    height: 40px;
    border-radius: 4px !important;
    font-size: 14px;
    margin-bottom: 20px;
}
 .login-form input,
 .login-form input:focus {
    background-color: transparent !important;
}
 .login-form button {
    background: #376fb6;
    border: none;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
}
.login-form button:hover {
    opacity: 0.9;
}
 .login-form span.error_class {
    display: block;
    margin-top: -18px !important;
}

//Login form css ends

@media (max-width: 767px) {
    .add-patient-form input, .add-patient-form .input-group, .form-group-sec input, .form-group-sec,
    .add-patient-form .input-group.form-group-sec {
        width: 100%;
    }
    .add-patient-con {
        grid-gap: 1px;
    }
    .error_class {
        margin-top: 0px !important;
    }
    .form-group-sec {
        margin-top: 20px;
    }
}