@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=latin-ext,vietnamese');

@import 'assets/sass/variables';

:root {
    --background: #f1f3f7;
    --primary-color: #376fb6;
    --secondary-color: #ef5127;
    --yellow-color: #f7ae2b;
    --dark-color: #10212b;
    --medium-color: #cbcdd1;
    --light-color: #ffffff;
    --border-color: #e9ecf3;
    --box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.18);
    --indent: 2vmax;
}

body {
  font-family: $fontFamily;
  line-height: $lineHeight;
  color: $mainTextColor;
}

strong {
  font-size: 16px;
  margin-right: 5px;
}

.custom-button {
  padding: 7px 20px;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $blue;
  color: $white;

  i {
    margin-right: 5px;
  }

  &.disabled {
    background-color: $white;
    color: $textColor;
  }

  &.outlined {
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// 4-1-2022
.dataTables_length{
  label {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
      select.custom-select {
        max-width: 100px;
        margin: 0 10px;
      }
  }
}

div#reports_table_wrapper .col-sm-12.col-md-4:first-child {
    order: 1;
}

.export-btn.mat-button {
  background-color: #376fb6;
  color: #fff;
}
.export-btn-list {
  a.custom-button {
    color: #505050;
    background: #fff;
    padding: 0;
    &:hover {
      background: transparent;
      opacity: 0.6;
      text-decoration: none;
    }
  }
  button:hover {
    background: transparent !important;
  }

}


div#reports_table_wrapper>.row:nth-child(1) {
  display: flex;
}

div#reports_table_wrapper>.row:nth-child(1) div {
  width: auto;
  max-width: initial;
  flex: initial;
}
.export-btn.mat-button {
  margin-left: 15px;
  position: relative;
  min-width: 104px;
  text-align: left;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #376fb6;
}

.table-responsive .export-wrap {
  justify-content: space-between;
  width: 575px;
}
.export-btn.mat-button:before {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.custom-export-btn a.custom-button {
  font-weight: 500;
}

.custom-export-btn button {
  height: 30px;
  line-height: 30px;
}


//6-1-2022
table#reports_table select {
    padding: 5px;
    border: 1px solid #ced4da;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    -webkit-appearance: none;
  -moz-appearance: none;
    background-image: url(assets/img/select-arrow.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 5px);
    background-size: 10px;
    width: 100%;

}
table#reports_table select::-ms-expand {
    display: none;
}
table#reports_table ul li {
    font-size: 12px;
    margin: 5px 0;
}
