:host {
    z-index: 999;
}
.backdrop {
    align-items: center;
}
.card {
    margin: 5vmin 0;
    width: clamp(300px, 500px, 100%);
    box-shadow: var(--box-shadow);
    .header,
    .body,
    .actions {
        padding: 16px;
    }
    .body,
    .actions {
        border-top: 1px solid var(--border-color);
    }

    .header {
        p {
            font-size: 18px;
        }
        align-items: center;
        button {
            border: none;
            background: none;
            cursor: pointer;
            color: var(--medium-color);
            font-size: 20px;
            line-height: 20px;
        }
    }
    .body {
        label {
            font-weight: bold;
            margin-bottom: 8px;
            span {
                font-weight: 400;
                text-transform: uppercase;
                margin-left: 8px;
            }
        }
        input, textarea {
            margin-bottom: 16px;
            padding: 10px 16px;
            resize: none;
            font-family: Barow, sans-serif;
            border-radius: 3px;
            border: 1px solid var(--border-color);
        }
    }
    .actions {
        align-items: center;
        justify-content: flex-end;
        & > button:nth-child(2) {
            background-color: var(--primary-color);
            color: var(--light-color);
            margin-left: 16px;
        }
    }
}
