<div class="login-form">
    <h2>Login</h2>
    <div>
        <input id="login" class="form-control" placeholder="Enter the username" (change)="emailValidate(login)"
            name="login" [(ngModel)]="login">

        <span class="error_class" *ngIf="email_error == true">Please enter a valid email address</span>
    </div>
    <div>
        <input id="password" type="password" class="form-control" placeholder="Enter the password" name="password"
            [(ngModel)]="password">
    </div>
    <button type="button" (click)="signIn()" type="button">Login </button>
</div>