<!DOCTYPE html>
<html>
<head>

<link href="./assets/css/styles.css" rel="stylesheet" />

</head>

<body>

{% set report_id = "88cb927a-a0d9-4159-8bf2-1f38d9941b5a" %}
{% macro feedback_url(usefulness, has_bug="") -%}
https://docs.google.com/forms/d/e/1FAIpQLSeM5iCSe38RHsaODVo2BdDVBmz02EQ7FUsnWx10xBApaisGCg/viewform?usp=pp_url&entry.333263115={{ usefulness }}&entry.1434893941={{ has_bug }}&entry.808425796={{ report_id }}
{%- endmacro %}

{# Global variables #}
{% set foramen_img_size = 384 %}
{% set foramen_img_ratio = foramen_img_size/256 %}
{% set foramen_severe_threshold = -1.0 %}
{% set foramen_moderate_threshold = -0.5 %}
{% set foramen_mild_threshold = 0.0 %}

{% set foramen_seg_percent_format = '%0.1f' %}


{# Set up metadata vars. #}

{# Calculate foramen template vars. #}
{% set foramen_vars = {} %}

{# If there are less than 5 foramina segmentations, fallback and annotate only the first N. #}
{% set num_foramina = {
  'left': (5, foramen_segmentation.segmentation_sizes['left']|length)|min,
  'right': (5, foramen_segmentation.segmentation_sizes['right']|length)|min,
} %}

{% for side in ('left', 'right') %}
  {% do foramen_vars.update({ side: [] }) %}
  {% for i in range(num_foramina[side]) %}
    {% set L = 5 - i %}
    {% set seg_percent = foramen_segmentation.segmentation_sizes[side][i] / foramen_segmentation.expected_areas[side][i] * 100 %}
    {% set seg_z_value = foramen_segmentation.z_values[side][i] %}
    {% if seg_z_value < foramen_severe_threshold %}
      {% set class='severe' %}
      {% set severity='Severe' %}
    {% elif seg_z_value < foramen_moderate_threshold %}
      {% set class='moderate' %}
      {% set severity='Moderate' %}
    {% elif seg_z_value < foramen_mild_threshold %}
      {% set class='mild' %}
      {% set severity='Mild' %}
    {% else %}
      {% set class="" %}
      {% set severity='Normal' %}
    {% endif %}

    {% set annotation_top = foramen_segmentation.segmentation_areas[side][i].center.0 * foramen_img_ratio - 20 %}
    {% set annotation_left = foramen_segmentation.segmentation_areas[side][i].center.1 * foramen_img_ratio + 25 %}

    {% do foramen_vars[side].append({
      'index': i,
      'L': L,
      'seg_percent': seg_percent,
      'class': class,
      'severity': severity,
      'annotation_top': annotation_top,
      'annotation_left': annotation_left,
      'z_value': '%.01f' | format(seg_z_value),
    }) %}
  {% endfor %}
{% endfor %}

{# Calculate canal template vars. #}
{% set canal_vars = [] %}
{% set canal_Ls = ['L5/S1', 'L4/5', 'L3/4', 'L2/3', 'L1/2'] %}

{% set canal_severe_threshold = 0.33 %}
{% set canal_moderate_threshold = 0.67 %}
{% set canal_mild_threshold = 1.0 %}

{% for i in range(canal_segmentation.canal_slices|length) %}

  {% set percent_of_nearest = canal_segmentation.canal_percentage_of_nearest_slices[i] %}
  {% if percent_of_nearest < canal_severe_threshold %}
    {% set class='severe' %}
    {% set severity='Severe' %}
  {% elif percent_of_nearest < canal_moderate_threshold %}
    {% set class='moderate' %}
    {% set severity='Moderate' %}
  {% elif percent_of_nearest < canal_mild_threshold %}
    {% set class='mild' %}
    {% set severity='Mild' %}
  {% else %}
    {% set class="" %}
    {% set severity='Normal' %}
  {% endif %}

  {% do canal_vars.append({
    'index': canal_segmentation.canal_slices[i],
    'seg_image': canal_segmentation.canal_seg_images[i],
    'slice_image': canal_segmentation.canal_slice_images[i],
    'area': '%.01f' | format(canal_segmentation.canal_areas[i]),
    'percent_of_expected': '%.01f' | format(100 * canal_segmentation.canal_areas[i] / canal_segmentation.canal_expected_areas[i]),
    'percent_of_nearest': '%.01f' | format(percent_of_nearest * 100),
    'percent_narrowing': '%.01f' | format((1 - percent_of_nearest) * 100),
    'class': class,
    'severity': severity,
    'L': canal_Ls[i],
  }) %}
{% endfor %}

<div class="wrapper">
  <div class="page">
    <div class="disclaimer">
      <p><span class="strong">For Research Use Only</span>: This product is in the research phase of development and has not been demonstrated to be safe or effective for clinical use. Any use of this product and the associated information is for research only and not for a diagnostic, therapeutic or other clinical purpose.</p>
    </div>
    <div class="header clearfix">
      <div class="title_block left">
        <img class="logo_img" src="assets/img/theseus-horizontal.png" />
        <h1 class="title">Spine Report</h1>
      </div>
      <div class="subtitle_block left">
        <div class="highlight">
          <p>Results based on</p>
          <p>more than 40,000 patients.</p>
        </div>
        <div class="metadata clearfix">
          <div class="metadata_item left">
            <p>Age</p>
            {% if patient.has_valid_age %}
              <p>{{ patient.age }}</p>
            {% else %}
              <p>UNKNOWN</p>
            {% endif %}
          </div>
          <div class="metadata_item left">
            <p>Height</p>
            {% if patient.has_valid_height %}
              <p>{{ patient.height }}</p>
            {% else %}
              <p>UNKNOWN</p>
            {% endif %}
          </div>
          <div class="metadata_item left">
            <p>Sex</p>
            <p>{{ patient.sex_name }}</p>
          </div>
        </div>
      </div>
      <div class="feedback_block left">
        <p class="feedback_title">Provide feedback with one click:</p>
        <p><a href="{{ feedback_url(5) }}" target="_blank">This report was useful.</a></p>
        <p><a href="{{ feedback_url(1) }}" target="_blank">This report was not useful.</a></p>
        <p><a href="{{ feedback_url('', 'Yes') }}" target="_blank">This report has an error.</a></p>
      </div>
      <img class="badge" src="assets/img/theseus-badge-blue.png" />
    </div>

    <div class="content">
      <h2>Imaging Data</h2>

      <div class="canal_segmentation">
        <div class="image_header clearfix">
          <h3 class="left">Canal Area</h3>
          <div class="image_legend">
            <div class="image_legend_border"></div>
            <div class="image_legend_item">
              <span class="mild">Mild</span>&lt; 33% narrowing
            </div>
            <div class="image_legend_item">
              <span class="moderate">Moderate</span>33 - 67% narrowing
            </div>
            <div class="image_legend_item">
              <span class="severe">Severe</span>&gt; 67% narrowing
            </div>
          </div>
        </div>
        <div class="annotation_legend">
          <p>Grading, Area, % Narrowing</p>
        </div>
        <div class="canal_images clearfix">
          {% for i in range(canal_vars|length - 1, -1, -1) %}
            <div class="canal_slice left">
              <img class="canal_img" src="{{ canal_vars[i].slice_image }}" />
              <img class="canal_img seg" src="{{ canal_vars[i].seg_image }}" />
              <p class="img_label">{{ canal_vars[i].L }}</span>
              <div class="annotation_label {{ canal_vars[i].class }}">
                <span class="{{ canal_vars[i].class }}">{{ canal_vars[i].severity }}</span>
                <p class="annotataion_txt">{{ canal_vars[i].area }}mm<sup>2</sup>,&nbsp;{{ canal_vars[i].percent_narrowing }}%</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div> <!-- /canal_segmentation -->

      <div class="foramen_segmentation">
        <div class="image_header clearfix">
          <h3 class="left">Foramen</h3>
          <div class="image_legend">
            <div class="image_legend_border"></div>
            <div class="image_legend_item">
              <span class="mild">Mild</span>0 - .49 Z-Score
            </div>
            <div class="image_legend_item">
              <span class="moderate">Moderate</span>.5 - .99 Z-Score
            </div>
            <div class="image_legend_item">
              <span class="severe">Severe</span>&gt; 1.0 Z-Score
            </div>
          </div>
        </div>
        <div class="foramen_images clearfix">
          <div class="foramen_left left">
            <img class="spine large" src="{{ foramen_segmentation.max_area_img.left }}" />
            <img class="spine large seg" src="{{ foramen_segmentation.union_seg_img.left }}" />
            <p class="img_label">Left</p>

            {% macro foramen_annotation_legend() -%}
            <span class="foramen_annotation_legend">
              Grading, Area, % of Expected Area
            </span>
            {%- endmacro %}

            {{ foramen_annotation_legend() }}

            {% macro foramen_annotation(vars) -%}
            <div id="foramen_annotation_left_l{{ vars.L }}"
                 class="foramen_annotation {{ vars.class }}"
                 style="top: {{ '%0.0f' | format(vars.annotation_top|float) }}px;
                        left: {{ '%0.0f' | format(vars.annotation_left|float) }}px;">
              <div class="horizontal_line left" style="width: {{ foramen_img_size - vars.annotation_left  + 25 }}px;"></div>
              <span class="foramen_label">L{{ vars. L }}</span>
              <span class="severity">{{ vars.severity }}</span>
              <span class="annotation_txt">
                {{ '%.1f' | format(foramen_segmentation.segmentation_sizes[side][vars.index]) }}mm<sup>2</sup>, 
                {{ foramen_seg_percent_format | format(vars.seg_percent|float) }}%
              </span>
            </div>
            {%- endmacro %}

            {% set side = 'left' %}
            {% for vars in foramen_vars[side] %}
              {{ foramen_annotation(vars) }}
            {% endfor %}
          </div>
          <div class="foramen_right left">
            <img class="spine large" src="{{ foramen_segmentation.max_area_img.right }}" />
            <img class="spine large seg" src="{{ foramen_segmentation.union_seg_img.right }}" />
            <p class="img_label">Right</p>

            {{ foramen_annotation_legend() }}

            {% set side = 'right' %}
            {% for vars in foramen_vars[side] %}
              {{ foramen_annotation(vars) }}
            {% endfor %}
          </div>
        </div>
      </div> <!-- /foramen_segmentation -->

      <div class="footer clearfix">
        <p class="left">[DRAFT]</p>
        <p class="right">Report generated on {{ report_date }}. Spine report by Theseus AI.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PAGE 1</p>
      </div>
    </div>
  </div> <!-- /page -->

  <div class="page new-page page2">
    <div class="header clearfix">
      <div class="title_block left">
        <img class="logo_img" src="assets/img/theseus-horizontal.png" />
        <h1 class="title">Spine Report</h1>
      </div>
      <div class="subtitle_block left">
        <div class="highlight">
          <p>Results based on</p>
          <p>more than 40,000 patients.</p>
        </div>
        <div class="metadata clearfix">
          <div class="metadata_item left">
            <p>Age</p>
            {% if patient.has_valid_age %}
              <p>{{ patient.age }}</p>
            {% else %}
              <p>UNKNOWN</p>
            {% endif %}
          </div>
          <div class="metadata_item left">
            <p>Height</p>
            {% if patient.has_valid_height %}
              <p>{{ patient.height }}</p>
            {% else %}
              <p>UNKNOWN</p>
            {% endif %}
          </div>
          <div class="metadata_item left">
            <p>Sex</p>
            <p>{{ patient.sex_name }}</p>
          </div>
        </div>
      </div>
      <img class="badge" src="assets/img/theseus-badge-blue.png" />
    </div>

    <div class="content">
      <h2>Analysis</h2>

      <div class="canal_analysis clearfix">
        <h3>Canal Area</h3>

        <div class="analysis_table left">
          <table class="analysis">
            <tr class="headers">
              <th>Canal</th>
              <th>Area</th>
              <th>% Narrowing</th>
              <th>% of similar patients who had surgery</th>
            </tr>
            {% for i in range(canal_vars|length - 1, -1, -1) %}
            <tr class="{{ canal_vars[i].class }}">
              <td>{{ canal_vars[i].L }}</td>
              <td>{{ canal_vars[i].area }} mm<sup>2</sup></td>
              <td>{{ canal_vars[i].percent_narrowing }}%</td>
              <td>N/A</td>
            </tr>
            {% endfor %}
          </table>
        </div> <!-- /analysis_table -->
        
        <div class="findings left">
          <p class="title">Findings</p>
          <div class="findings_txt">
            {% for i in range(canal_vars|length - 1, -1 , -1) %}
              {% if canal_vars[i].class == 'severe' or canal_vars[i].class == 'moderate' %}
              <p>
                <span class="canal_label {{ canal_vars[i].class }}">
                  {{ canal_vars[i].L }}
                </span>
                canal area indicates <span class="{{ canal_vars[i].class }}">{{ canal_vars[i].percent_narrowing }}%</span> stenosis.
              </p>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div> <!-- /canal_analysis -->

      <div class="foramen_analysis clearfix">
        <h3>Foramen</h3>

        <div class="analysis_table left">
          <table class="analysis">
            <tr class="headers">
              <th>Foramina</th>
              <th>Area</th>
              <th>% of Expected Area</th>
              <th>% of similar patients who had surgery</th>
            </tr>
            {% for i in range(4, -1, -1) %}
              {% for side in ('left', 'right') %}
                {% set vars = foramen_vars[side][i] %}
                {% if i < num_foramina[side] %}
                  <tr class="{{ vars.class }}">
                    <td>L{{ vars.L }}-{{ side[0]|upper }}</td>
                    <td>{{ '%.2f' | format(foramen_segmentation.segmentation_sizes[side][i]) }}&nbsp;mm<sup>2</sup></td>
                    <td>{{ foramen_seg_percent_format | format(vars.seg_percent|float) }}%</td>
                    <td>N/A</td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </table>
        </div> <!-- /analysis_table -->
        
        <div class="findings left">
          <p class="title">Findings</p>
          <div class="findings_txt">
          {% for i in range(4, -1, -1) %}
            {% for side in ('left', 'right') %}
              {% set vars = foramen_vars[side][i] %}
              {% if i < num_foramina[side] %}
                {% if vars.class == 'severe' or vars.class == 'moderate' %}
                  <p>
                    <span class="foramen_label {{ vars.class }}">
                      L{{ vars.L }}-{{ side|title }}
                    </span>
                    foramen area is {{ foramen_seg_percent_format | format(vars.seg_percent|float) }}%
                    of the expected cross-sectional dimension compared to age,
                    height and sex matched control, with a Z-score of <span class="{{ vars.class }}">{{ vars.z_value }}</span>.
                  </p>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          </div>
        </div>
      </div> <!-- /foramen_analysis -->

      <div class="footer clearfix">
        <p class="left">[DRAFT]</p>
        <p class="right">Report generated on {{ report_date }}. Spine report by Theseus AI.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PAGE 2</p>
      </div>
    </div>
  </div>

</div>
</body>
</html>
