# /etc/systemd/system/spineai-postgres-gitlab.dev.service

[Unit]
Description=Docker Compose service for Postgres for Gitlab.
Requires=docker.service
After=docker.service

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/opt/spineai/spineai/gitlab/postgres/runtime
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
