@import '../assets/sass/variables';

.header {
  border: 0;
  border-bottom: 1px solid $dividerColor;

  .header-brand {
    position: relative;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;

    .header-brand-img {
      width: 192px;
      height: auto;
      margin-left: 25px;
    }

    #sublogo {
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 1.1em;
      margin: 18px 24px;
      color: rgb(80, 80, 80);

      img {
        position: relative;
        top: -2px;
        width: auto;
        height: .9em;
      }
    }

    #header-status {
      text-align: right;
      position: absolute;
      right: 15px;
      top: 15px;

      p {
        margin: 0;
        margin-bottom: 0.25em;
      }
    }
  }

  .header-tabs {
    >div {
      display: inline-block;
      text-transform: uppercase;
      padding: 15px 25px;
      font-size: 14px;
      font-weight: 700;
      color: $textColor;

      &:first-child {
        background-color: $blue;
        color: $white;
      }
    }
  }
}

.page-header {
  margin-bottom: 0.5rem;

  .page-title {
    margin-bottom: 0;
  }
}

.main-buttons {
  border-bottom: 1px solid $dividerColor;

  .custom-button {
    flex: 1;
    padding: 15px 20px;
    outline: none !important;

    &:focus {
      box-shadow: none;
    }
  }

  .custom-button:hover {
    text-decoration: none;
  }
}

.footer {
  a {
    color: $blue;
  }
}

.hidden {
  display: none !important;
}
